<h2>Attendance</h2>

<video id="video" width="400" autoplay></video>
<br><br>

<button onclick="attendance()">Mark Attendance</button>
<a href="/onlineattendance">Back</a>



<p id="result"></p>

<script>
const video = document.getElementById('video');

navigator.mediaDevices.getUserMedia({ video: true })
.then(stream => video.srcObject = stream);

function attendance() {
    const canvas = document.createElement('canvas');
    canvas.width = 400;
    canvas.height = 300;
    canvas.getContext('2d').drawImage(video,0,0,400,300);
    let image = canvas.toDataURL('image/jpeg');

    fetch('/mark_attendance',{
        method:'POST',
        headers:{'Content-Type':'application/json'},
        body:JSON.stringify({image:image})
    })
    .then(res=>res.json())
    .then(data=>{
        document.getElementById('result').innerHTML =
            JSON.stringify(data);
        console.log(data.status)
        //window.location.href = "/attendance_view";
  
    
    });
}
</script>