{% extends "base.html" %}

{% block content %}

<div class="text-center">

    <h1>
        Employee Face Attendance System
    </h1>

    <p class="lead">
        Employee registration and automatic
        face recognition attendance
    </p>

</div>


<div class="row mt-5">

    <div class="col-md-4">

        <div class="card text-center">

            <div class="card-body">

                <h4>
                    Employees
                </h4>

                <a
                    href="/employees/"
                    class="btn btn-primary">

                    Manage Employees

                </a>

            </div>

        </div>

    </div>


    <div class="col-md-4">

        <div class="card text-center">

            <div class="card-body">

                <h4>
                    Register
                </h4>

                <a
                    href="/employees/register"
                    class="btn btn-success">

                    Register Employee

                </a>

            </div>

        </div>

    </div>


    <div class="col-md-4">

        <div class="card text-center">

            <div class="card-body">

                <h4>
                    Attendance
                </h4>

                <a
                    href="/attendance/"
                    class="btn btn-warning">

                    Start Attendance

                </a>

            </div>

        </div>

    </div>

</div>

{% endblock %}