<h2>Register Face</h2>
<h2>Selected User</h2>
<p>EnrollmentID : {{ user.Id }}</p>
<p>Name : {{ user.Name }}</p>
<p>User ID : {{ user.UserId }}</p>
<p>Program Name : {{ user.ProgramName }}</p>
<p>Batch Name : {{ user.Batch_Name }}</p>
<video id="video" width="400" autoplay></video>
<br><br>

<button onclick="register()">Register</button>
<a href="/attendance">Mark Attendance</a>


<p id="result"></p>

<script>



const video = document.getElementById('video');

navigator.mediaDevices.getUserMedia({ video: true })
.then(stream => video.srcObject = stream);

function register() {
    const canvas = document.createElement('canvas');
    canvas.width = 400;
    canvas.height = 300;
    canvas.getContext('2d').drawImage(video,0,0,400,300);

    let image = canvas.toDataURL('image/jpeg');
    let userId = "{{ user.UserId }}";
    let UserName = "{{ user.Name }}";
    let userrole = "{{ user.Userrole }}";
    let programCode = "{{ user.ProgramCode }}";
    let programName = "{{ user.ProgramName }}";
    let batchName = "{{ user.Batch_Name }}";
    let enrollmentId = "{{ user.ID }}";

    fetch('/register_face',{
        method:'POST',
        headers:{'Content-Type':'application/json'},
        body:JSON.stringify({
            userid:userId,
            name:UserName,
            role:userrole,
            image:image,
            programCode:programCode,
            programName:programName,
            batchName:batchName,
            enrollmentId:enrollmentId

        })
    })
    .then(res=>res.json())
    .then(data=>{
        document.getElementById('result').innerHTML =
            JSON.stringify(data);
    });
}
</script>